# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz

# IDE/project
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Node/npm (if used)
node_modules/

# Composer (if used)
vendor/
composer.lock 